#content{
	position: relative;
	width:50%;
	margin:0 auto;
	top:18vh;
	height:auto;
	font-size: 2vh;
	margin-bottom: 30vh;
}
#content a{
	text-decoration: underline;
}
.row{
	display: flex;
	margin-bottom: 4vh;
	/*height:auto;*/

}
.section_title{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	width:25%;
	height:auto;
	float:left;
	text-align: right;

}

.text_block{
	font-family: 'Roboto', sans-serif;
	width:70%;
	height:auto;
	margin-left:5%;
	float: right;
	text-align: left;
}

#video{
	width:85%;
	margin:0 auto;
}