html, body {

	background: #F4F2F1;

}
#screen_cover{
	background: #F4F2F1;
	font-family: 'Amatic SC', cursive;
	font-size: 6vh;
	width:100vw;
	height:100vh;
	margin-top: -12vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: fixed;
	z-index: 20;
}

@media only screen and (min-width: 600px){
	#screen_cover{
		display: none;
	}
}
a{
	text-decoration: none;
	    color:black;
}

.menu_button.selected{
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}
#menu {
    font-family: 'Amatic SC', cursive;
    height: 12vh;
    border-bottom: 1px solid black;
    background: #F4F2F1;
    /*overflow: hidden;*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 12;
}
#buttons {
    width: 45%;
    margin: 0 auto;
    text-align: justify;
}
.menu_button {
	width:24%;
    font-size: 4vh;
    text-align: center;
    display: inline-block;
    margin: 3vh 0;
}

.menu_button:hover {
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

#dropdown{
	position: fixed;
   border-bottom: 2px solid black;
   z-index: -1;
   background: #F4F2F1;
   display: none;
}
.drop_btn{
   height:4.3vh;
   text-align: center;
   padding:0.7vh 0px;
   font-size:3vh;
   overflow: hidden;
}
.drop_btn:hover{
   font-weight: bold;
   text-decoration: underline;
   cursor: pointer;
}
#spacer{
	height:8vh;
}





#goCanLink:hover{
	font-weight: bold;
	text-decoration: underline;
}

#legend{
	position: fixed;
	z-index: 13;
	width:100%;
	bottom:0;
	background: #F4F2F1;
	border-top: 1px solid black;
	/*display: none;*/
}


#legend_toggle{
	font-family: Roboto-Regular, sans-serif;
	height:2vh;
	width:10vw;
	bottom:2vw;
	right:2vw;
	padding:0.5vh 0.5vw;
	position: fixed;
	z-index: 14;
	background: #606060;
	color:white;
}

#legend_toggle > #label{
	margin-left:1vw;
	font-size: 65%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

#triangle {
    display: inline-block;
    position: relative;
    width: 0;
    height: 0;
    left:0;
    border-top: 1vh solid #ffffff;
    border-left:0.8vh solid transparent;
    border-right: 0.8vh solid transparent;
    transform: rotate(0deg);
}

#triangle.On{
	transition: .4s linear;
	 -webkit-transform : rotate(-90deg);
}
#triangle.Off{
	transition: .4s linear;
	 -webkit-transform : rotate(0deg);

}
#legend_toggle:hover{
	font-weight:bold;
	/*text-decoration: underline;*/
	cursor: pointer;

}




#page_container, svg{
	position: relative;
}
#page_container{
	margin-top:12vh;
}
path{
	fill:none;
	position:absolute;
	z-index: 1;
	/*margin-top:200px;*/
	
	/*visibility: hidden;*/
}


.data_portrait{
	width:5vw;
	display:inline-block;
	position: absolute;
	left:150px;
	top:200px;
	z-index: 10;
	cursor: pointer;
}


#popup{
	padding:1vw;
	width:17vw;
	height:auto;
	background:white;
	position: relative;
	z-index: 9;
	box-shadow:5px 5px 5px #606060;
	/*visibility:hidden;*/	
	opacity: 0.85;
/*	top:350px;
	left:500px;*/
	font-size: 3vh
}
#sound{
	width:100%;
}


 #popup_info #link, #popup_info #soundbite{
	font-family: 'Amatic SC', cursive;

}
#name{
	font-family: 'Roboto-Regular',sans-serif;
	display: block;
	margin-bottom: 3vh;
}

#popup_info{
	margin-top:5vh;
}
#popup_info img {
	width:3vh;
	display: inline-block;
	margin-right: 2vw;
}
#popup_info div{
	display: inline-block;
	margin-bottom: 1vh;
}



#play_pause {
    width: 0;
    height: 0;
    border-top: 1.6vh solid #999999;
    border-left:1vh solid transparent;
    border-right: 1vh solid transparent;
    display: inline-block;
    left:0;
    position: relative;
    transform: rotate(-90deg);
    top:0.5vh;
    margin-right: 2.5vw;
}

#play_pause.On{
	transition: .4s linear;
	 -webkit-transform : rotate(-90deg);
}
#play_pause.Off{
	transition: .4s linear;
	 -webkit-transform : rotate(0deg);

}